<% include partials/header %>

<center>
<h1>idmb search engine</h1>
<div class="container">
<a href="/movies" role="button" class="btn btn-primary btn-lg">Movies</a>
<a href="/actors" role="button" class="btn btn-primary btn-lg">Actors</a>
<a href="/directors" role="button" class="btn btn-primary btn-lg">Directors</a>
</div>
</center>
<% include partials/footer %>