<!DOCTYPE html>
<html>
  <head>
    <title>imdb database</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/navbar-fixed-side.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
  </head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">imdb database</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/actors">Actors</a></li>
        <li><a href="/directors">Directors</a></li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>      
<h2>New movie</h2>



<div class="container">
<div class="col-md-5">
    <div class="form-area">  
        <form action="/movies" method="POST" id="create">
        <br style="clear:both">
    				<div class="form-group">
    				    <label>Movie title</label>
						<input type="text" class="form-control" id="name" name="Title" placeholder="" value="" >
					</div>
					<div class="form-group">
					    <label>Year</label>
						<input type="text" class="form-control" id="email" name="Year" placeholder="" value="" >
					</div>
					<div class="form-group">
					    <label>Score</label>
						<input type="text" class="form-control" id="mobile" name="Score" placeholder="" value="" >
					</div>
					<div class="form-group">
					    <label>imdb link</label>
						<input type="text" class="form-control" id="subject" name="Link" placeholder="" value="" >
					</div>
					
					<div class="form-group">
    				    <label>Director</label>
						<input type="text" class="form-control" id="name" name="Director" placeholder="" value="" >
					</div>
					<div class="form-group">
					    <label>Director facebook</label>
						<input type="text" class="form-control" id="email" name="Director_facebook" placeholder="" value="" >
					</div>
					
					<div class="form-group">
    				    <label>Actor 1</label>
						<input type="text" class="form-control" id="name" name="Actor1" placeholder="" value="" >
					</div>
					<div class="form-group">
					    <label>Actor1 facebook</label>
						<input type="text" class="form-control" id="email" name="Actor1_facebook" placeholder="" value="" >
					</div>
					
					<div class="form-group">
    				    <label>Actor2</label>
						<input type="text" class="form-control" id="name" name="Actor2" placeholder="" value="" >
					</div>
					<div class="form-group">
					    <label>Actor2 facebook</label>
						<input type="text" class="form-control" id="email" name="Actor2_facebook" placeholder="" value="" >
					</div>
					
					<div class="form-group">
    				    <label>Actor3</label>
						<input type="text" class="form-control" id="name" name="Actor3" placeholder="" value="" >
					</div>
					<div class="form-group">
					    <label>Actor3 facebook</label>
						<input type="text" class="form-control" id="email" name="Actor3_facebook" placeholder="" value="" >
					</div>
        <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
        </form>
    </div>
</div>
</div>

<script>
// var arr = ;
// var sel = $('#select_director').appendTo('body');
// $(arr).each(function() {
//  sel.append($("<option>").attr('value',this.director_name).text(this.director_name));
// });
// $('#select_director').each(function(){
//     $this.append('<option value=" + $(this).text() + '</option>');
// });    
    
    
</script>